*{
    margin: 0%;
    padding: 0%;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
}

nav#menu{
    display: block;
}

nav#menu  li{
    display: inline-block;
}
body{
    background: rgb(0,34,36);
background: linear-gradient(90deg, rgba(0,34,36,1) 0%, rgba(18,219,220,1) 32%,
 rgba(20,240,237,1) 35%, rgb(7, 93, 231) 100%);
}
header{
    background-color: antiquewhite;
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
}